<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proxy-ChatGPT</title>
    <link rel="stylesheet" href="/static/css/chat.css">

</head>
<body>

<div class="chat-box">
    <header>
        <h1>当前账户：{{user_name}}</h1>
        <span style="flex:1"></span>
        <span class="close-button">X</span>
    </header>
    <section id="message-list">
    </section>
    <footer>
        <input id="message-input" type="text" placeholder="请输入，按回车键发送">
    </footer>
</div>
<!-- partial -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/my_requests.js"></script>
<script src="/static/js/chat.js"></script>
{% if not is_vip %}
<script src="/static/js/req_reply.js"></script>
{% else %}
<script src="/static/js/req_reply_vip.js"></script>
{% endif %}
</body>
</html>
